body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}

#hele {
    display: flex;
    justify-content: center;
    align-items: center;

}

#subhele {
    display: flex;
    flex-direction: column;

}

#topdiv {
    display: flex;
    flex-direction: row;

}

#leftdiv {
    flex: 1;
}

#leftad {
    width: 30vh;
    height: 100%;

}

#middiv {
    flex: 3;

}

#gamediv {
    height: 100%;

}

#pregame {
    height: 80vh;
    width: 130vh;

}

#back {
    position: absolute;
    top: 75%;
    left: 47%;
    background: linear-gradient(90deg, red, rgb(36, 144, 238));
    font-family: "Fake Receipt", monospace;

}

@font-face {
    font-family: "fake Receipt";
    src: url(Fake\ Receipt.otf) format("truetype");
}

#reddiv {
    max-width: 20%;
    max-height: 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12%;
    left: 30%;
}

#redrule {
    max-width: 50%;
    max-height: 50%;

    color: white;
    font-family: "Fake Receipt", monospace;
    font-size: 85%;
}

#redtext {
    color: red;

}


#basediv {
    max-width: 24.5%;
    max-height: 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: 32%;
}

#baserule {
    max-width: 50%;
    max-height: 50%;

    color: white;
    font-family: "Fake Receipt", monospace;
    font-size: 80%;

}

#bluediv {
    max-width: 30%;
    max-height: 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 13%;
}

#bluerule {
    max-width: 40%;
    max-height: 50%;
    color: white;
    font-family: "Fake Receipt", monospace;
    font-size: 80%;

}

#bluetext {
    color: rgb(36, 144, 238);

}


#rightdiv {
    flex: 1;

}

#rightad {
    width: 32vh;
    height: 40vh;
}

#rightad2 {
    width: 32vh;
    height: 40vh;

}

#bottomdiv {
    display: flex;
    justify-content: center;
    align-items: center;

}

#bottomaddiv {
    width: 100%;
    height: 19VH;
    background-image: url("hotmilfsad1.jpg"), url("hotmilfsad2.jpg");
    background-repeat: repeat;
    background-position: 0 0, 50px 50px;
}